* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}
.branding {
  width: 100%;
}
.cbox {
  padding-top: 50px;
  width: 400px;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3.5em;
  color: #df1317;
}
.cbox img {
  width: 50px;
}
.cbox span {
  display: inline-block;
  top: -20px;
}

#stage {
}

#stage > div {
  width: 500px;
  margin: auto;
}

#btnchoose {
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding-top: 40px;
  /* padding: 25px; */
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;
  color: black;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #df1317;
  color: white;
  -webkit-box-shadow: 0px 0px 34px -5px rgba(245, 0, 0, 1);
  -moz-box-shadow: 0px 0px 34px -5px rgba(245, 0, 0, 1);
  box-shadow: 0px 0px 34px -5px rgba(245, 0, 0, 1);
  margin: auto;
  margin-top: 15vh;
  overflow: hidden;
  animation: branim 2s infinite;
  transition: 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

#btnchoose:hover {
  background-color: #f02125;
}

@keyframes branim {
  0% {
  }
  50% {
    transform: scale(1.2);
  }

  100% {
  }
}
#send-input {
  visibility: hidden;
}
/* ------ */

.url {
  display: none;
  padding: 20px;
  border-radius: 20px 20px 20px 20px;
  width: 500px;
  outline: none;
  font-size: 14px;
  color: #777777;
  margin-top: 60px;
  -webkit-box-shadow: 0px 0px 40px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px -14px rgba(0, 0, 0, 0.75);
}
.url:hover {
}

#btncpy {
  background-color: #df1317 !important;
  border-radius: 10px;

  color: white;
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
#downloadLink {
  display: none;
  text-decoration: none;
  padding: 10px;
  width: 300px;
  color: white;
  background-color: #a3a3a3;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;

  margin: auto;

  margin-top: 100px;
}
#lodo {
  display: block;
  margin: auto;
  margin-top: 100px;
}

#transfer-info {
  border: 1px solid #ffffff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: content-box;
  border-radius: 10px;

  color: white;

  z-index: 1000;

  background-color: #df1317;
  margin-top: 75px;
}
#transfer-info span {
  display: inline-block;

  padding: 15px;
}
#active-transfers {
  border-right: 1px solid #ffff;
}
#comtext {
}
#ongotext {
}
